# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by the Operating System
# .DS_Store

# Files and directories created by pub
# .dart_tool/
# .packages
# pubspec.lock

# Files and directories created by dart_frog
# .dart_frog

# Test related files
# coverage/

# public/print/

.dart_tool
.vscode

build/

package*.json

node_modules/

test_java/
pubspec.lock
